{##
    This file is part of the Front Foundation package.

    Copyright (c) 2017-present LIN3S <info@lin3s.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @author Mikel Tuesta <mikeltuesta@gmail.com>
#}

{##
    Form radio

    @param radio_class_name         string=null
    @param radio_modifiers          string=null
    @param radio_checked            int=0
    @param radio_value              string=null
    @param radio_name               string=null
    @param radio_content            html|raw*
#}

{% set class = 'class="form-radio js-form-radio ' ~ radio_class_name|default ~ ' ' ~ radio_modifiers|default ~ '"' %}
{% set name = radio_name|default ? 'name=' ~ radio_name %}
{% set checked = radio_checked|default(0) ? 'checked' %}
{% set value = radio_value|default ? 'value="' ~ radio_value ~ '"' %}

<label {{ class|raw }} tabindex="0">
    <input type="radio" class="form-radio__circle" {{ name }} {{ value|raw }} {{ checked }}/>
    <span class="form-radio__content">{{ radio_content|raw }}</span>
</label>
