{##
    This file is part of the Front Foundation package.

    Copyright (c) 2017-present LIN3S <info@lin3s.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @author Mikel Tuesta <mikeltuesta@gmail.com>
#}

{##
    Form select

    @param select_class_name                        string=null
    @param select_id                                string=null
    @param select_name                              string=null
    @param select_modifiers                         string=null
    @param select_no_selection_label                string="--"
    @param select_no_selection_value                string="--"
    @param select_options                           array*
        - value                                     string*
        - label                                     string*
        - selected                                  int=0
    @param select_max_height_mobile                 int=260
    @param select_max_height_desktop                int=420
    @param select_is_filterable                     int=1
    @param select_filter_placeholder                string=null
    @param select_filter_order_by                   string='value' (or 'label')
    @param select_mobile_breakpoint                 int=1024
    @param select_required                          int=0
    @param select_validate                          int=0
    @param select_validation_pattern                string=null
    @param select_validation_type                   string=null
    @param select_outside_click_to_close_enabled    int=1
#}

{% set select_no_selection_label = select_no_selection_label|default('--') %}
{% set select_no_selection_value = select_no_selection_value|default('--') %}
{% set select_filter_order_by = select_filter_order_by|default('value') %}

{% set class = 'class="form-select js-form-select ' ~ select_class_name|default ~ ' ' ~ select_modifiers|default ~ '"' %}
{% set id = select_id|default ? 'id=' ~ select_id %}
{% set name = select_name|default(select_id|default) ? 'name=' ~ select_name|default(select_id|default) %}
{% set required = select_required|default(0) ? 'required' %}
{% set validation = select_validate|default(0) ? 'data-validate data-validation-state-reference-selector=".form-select"' ~ (select_validation_pattern|default ? ' data-validate-pattern=' ~ select_validation_pattern) ~ (select_validation_type|default ? ' data-validate-' ~ select_validation_type) %}

<div {{ class|raw }}
    data-max-height-mobile="{{ select_max_height_mobile|default(260) }}"
    data-max-height-desktop="{{ select_max_height_desktop|default(420) }}"
    data-filterable="{{ select_is_filterable|default(1) }}"
    data-filter-order-by="{{ select_filter_order_by }}"
    data-mobile-breakpoint="{{ select_mobile_breakpoint|default(1024) }}"
    data-outside-click-to-close-enabled="{{ select_outside_click_to_close_enabled|default(1) }}"
    tabindex="0">
    <span class="form-select__dropdown-icon">
        {% include '@lin3s_front_foundation/svg/arrows_small_down.svg.twig' %}
    </span>
    {% if select_is_filterable|default(1) %}
        <div class="form-select__input-container">
            {% include '@lin3s_front_foundation/atoms/form_input.html.twig' with {
                input_class_name: 'form-select__input',
                input_placeholder: select_filter_placeholder|default,
                input_focusable: 0
            } %}
        </div>
    {% endif %}
    <div class="form-select__label">{{ select_no_selection_label }}</div>
    <div class="form-select__options-container">
        <div class="form-select__options">
            <div class="form-select__option form-select__option--select-no-selection" data-label="{{ select_no_selection_label }}" data-value="{{ select_no_selection_value }}">
                {{ select_no_selection_label }}
            </div>
            {% for option in select_options %}
                <div class="form-select__option" data-label="{{ option.label }}" data-value="{{ option.value }}">
                    {{ option.label }}
                </div>
            {% endfor %}
        </div>
    </div>
    <select class="form-select__select" {{ id }} {{ name }} {{ required }} {{ validation|raw }}>
        <option class="form-select__select-no-selection" value="{{ select_no_selection_value }}">
            {{ select_no_selection_label }}
        </option>
        {% for option in select_options %}
            <option value="{{ option.value }}"{% if option.selected|default(0) %} selected="selected"{% endif %}>
                {{ option.label }}
            </option>
        {% endfor %}
    </select>
</div>
