{##
    This file is part of the Front Foundation package.

    Copyright (c) 2017-present LIN3S <info@lin3s.com>

    For the full copyright and license information, please view the LICENSE
    file that was distributed with this source code.

    @author Mikel Tuesta <mikeltuesta@gmail.com>
#}

{##
    This componenet will display a form group composed by an @atoms/form_label, an array of @atoms/form_radio and an
    @atoms/form_error.

    @param class_name                               string=null
    @param modifiers                                string=null
    @param radio_id                                 string*
    @param radio_name                               string=null
    @param radio_label_class_name                   string=null
    @param radio_label_modifiers                    string=null
    @param radio_label_title                        string=null
    @param radio_errors                             array=null
        - content                                   string*
        - modifiers                                 string=null
    @param radio_radios                             array*
        - radio_content                             html|raw*
        - radio_checked                             int=0
        - radio_value                               string=null
        - radio_modifiers                           string=null
    @param radio_required                           int=0
    @param radio_validate                           int=0
    @param radio_validation_pattern                 string=null
    @param radio_validation_type                    string=null
    @param radio_group_id                           string=null

#}

{% set class = 'class="form-group-radio js-form-group-radio ' ~ class_name|default ~ ' ' ~ modifiers|default ~ '"' %}

<div {{ class|raw }}>
    {% if radio_label_title|default %}
        <div class="form-group-radio__label">
            {% include '@lin3s_front_foundation/atoms/form_label.html.twig' with {
                label_for: radio_id,
                label_required: radio_required|default(0),
                label_class_name: radio_label_class_name|default,
                label_modifiers: radio_label_modifiers|default,
                label_content: radio_label_title
            } %}
        </div>
    {% endif %}
    {% for radio in radio_radios %}
        <div class="form-group-radio__item">
            {% include '@lin3s_front_foundation/atoms/form_radio.html.twig' with {
                radio_id: null,
                radio_name: radio_name|default(radio_id),
                radio_modifiers: radio.radio_modifiers|default,
                radio_content: radio.radio_content,
                radio_checked: radio.radio_checked|default(0),
                radio_value: radio.radio_value|default(0)
            } %}
        </div>
    {% endfor %}

    {% if radio_validate|default(0) %}
        {% set required = radio_required|default(0) ? 'required' %}
        {% set radio_group_name = radio_group_name|default(radio_group_id|default) ? 'name=' ~ radio_group_name|default(radio_group_id|default) %}
        {% set radio_group_id = radio_group_id|default ? 'id=' ~ radio_group_id %}

        <input class="form-group-radio__hidden" type="hidden" {{ radio_group_name }} {{ radio_group_id }} {{ required }}
                {% if radio_validate|default(0) %} data-validate
            {% if radio_validation_pattern|default %}
                data-validate-pattern="{{ radio_validation_pattern }}"
            {% elseif radio_validation_type|default %}
                data-validate="{{ radio_validation_type }}"
            {% endif %}
                {% endif %}/>
    {% endif %}

    {% if radio_errors|default %}
        <div class="form-group-radio__errors">
            {% for error in radio_errors %}
                {% include '@lin3s_front_foundation/atoms/form_error.html.twig' with {
                    error_content: error.content,
                    error_modifiers: error.modifiers|default
                } %}
            {% endfor %}
        </div>
    {% endif %}
</div>
