{% import '@lin3s_front_foundation/components/macro/form_group_inputs.html.twig' as form_group_inputs %}
{% import '@lin3s_front_foundation/components/macro/form_group_selects.html.twig' as form_group_selects %}
{% import '@lin3s_front_foundation/components/macro/form_group_textareas.html.twig' as form_group_textareas %}

<!doctype html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="./dist/app.css"/>
</head>
<body>
    <script src="./dist/app.js"></script>
    <style type="text/css">
        body{
            padding-bottom: 400px;
        }
        .gmap-geocoder__filter {
            padding: 20px 30px;
        }
        .form-atoms,
        .form-components{
            position: relative;
        }
        .form-group,
        .form-group-input,
        .form-group-select,
        .form-group-textarea {
            margin-bottom: 30px;
        }

        .form {
            border: 1px solid #d1d1d1;
            margin-bottom: 30px;
            padding: 20px 30px;
        }
        .form[data-validation-state="not-filled"],
        .form[data-validation-state="not-valid"] {
            border-color: #b20008;
        }
        .form[data-validation-state="valid"] {
            border-color: #00d44c;
        }

    </style>

    <h1>Lin3s Front Foundation</h1>
    <h2>Test App page</h2>
    <main>
        <section class="images">
            <h3>This content will be used to test the <i>Dom.waitImagesLoadInDomNode</i> method.</h3>
            <div class="images__collection">
                <img src="http://lorempixel.com/800/600/abstract"/>
                <img src="http://lorempixel.com/800/600/nightlife"/>
                <img src="http://lorempixel.com/800/600/city"/>
                <img src="http://lorempixel.com/800/600/people"/>
            </div>
        </section>

        <section class="gmap-basic">
            <h3>This is a basic <i>gmap component</i> usage example.</h3>
            {% include '@lin3s_front_foundation/components/gmap.html.twig' with {
                gmap_api_key: 'AIzaSyDQaCE_7C5iAmpwr_y1C1DHbtZsqag74Sk',
                gmap_center_lat: '43.2631394',
                gmap_center_lng: '-2.9275847',
                gmap_initial_zoom: 14,
                gmap_max_zoom: 20,
                gmap_marker_default_path: '/images/gmap/marker-default',
                gmap_marker_selected_path: '/images/gmap/marker-default',
                gmap_marker_group_path: '/images/gmap/marker-default'
            } %}
        </section>

        <section class="gmap-geocoder">
            <h3>This is an advanced <i>gmap component</i> usage example. We will use the geocoder and markers through a higher level composition</h3>
            <div>
                <input class="gmap-geocoder__filter" type="text" placeholder="Address, town, ZIP code, city..."/>
                <label class="gmap-geocoder__error"></label>
            </div>
            {% include '@lin3s_front_foundation/components/gmap.html.twig' with {
                gmap_api_key: 'AIzaSyDQaCE_7C5iAmpwr_y1C1DHbtZsqag74Sk',
                gmap_center_lat: '43.2631394',
                gmap_center_lng: '-2.9275847',
                gmap_initial_zoom: 14,
                gmap_max_zoom: 20,
                gmap_marker_default_path: '/images/gmap/marker-default',
                gmap_marker_selected_path: '/images/gmap/marker-default',
                gmap_marker_group_path: '/images/gmap/marker-default'
            } %}
        </section>

        <section class="form-atoms">
            <div class="form-group">
                {% include '@lin3s_front_foundation/atoms/form_label.html.twig' with {
                    label_content: 'This is the form_label atom'
                } %}
            </div>
            <div class="form-group">
                {% include '@lin3s_front_foundation/atoms/form_error.html.twig' with {
                    error_content: 'This is the form_error atom'
                } %}
            </div>
            <div class="form-group">
                {% include '@lin3s_front_foundation/atoms/form_input.html.twig' with {
                    input_placeholder: 'Enter some data...'
                } %}
            </div>
            <div class="form-group" style="position: relative; z-index: 100;">
                {% include '@lin3s_front_foundation/atoms/form_select.html.twig' with {
                    select_class_name: 'form-select-demo',
                    select_id: 'form-select-1',
                    select_required: 1,
                    select_filter_placeholder: 'Type to filter...',
                    select_outside_click_to_close_enabled: 1,
                    select_options: [{
                        value: 0,
                        label: 'Enero'
                    }, {
                        value: 1,
                        label: 'Febrero'
                    }, {
                        value: 2,
                        label: 'Marzo'
                    }, {
                        value: 3,
                        label: 'Abril'
                    }, {
                        value: 4,
                        label: 'Mayo'
                    }, {
                        value: 5,
                        label: 'Junio'
                    }, {
                        value: 6,
                        label: 'Julio'
                    }, {
                        value: 7,
                        label: 'Agosto'
                    }, {
                        value: 8,
                        label: 'Septiembre'
                    }, {
                        value: 9,
                        label: 'Octubre'
                    }, {
                        value: 10,
                        label: 'Noviembre'
                    }, {
                        value: 11,
                        label: 'Diciembre'
                    }]
                } %}
            </div>
        </section>

        <section class="react-components" style="position: relative; z-index: 80;">
            <div class="form-select-mount-node"></div>
        </section>

        <section class="form-components" style="position: relative; z-index: 70;">
            <form action="/" class="form" novalidate data-validate>
                <div class="form-phone-mount-node"></div>
                <div class="form-email-mount-node"></div>
                <div class="form-select-mount-node"></div>

                <input type="submit" value="Submit!"/>
            </form>
        </section>

        <section class="form-components" style="position: relative; z-index: 60;">
            <form class="form" novalidate data-validate>
                <h2>Form Validator</h2>
                <h3>This is a form integrated component test. It will validate the form using the <i>FormValidator</i> library.</h3>

                {{ form_group_inputs.required(
                    'text',
                    'test',
                    'Enter your name...',
                    'Name',
                    [{
                        content: 'This field is required.',
                        modifiers: 'form-error--not-filled',
                    }]
                ) }}

                {{ form_group_inputs.requiredEmail(
                    'email',
                    'Enter an email...',
                    'Email',
                    [{
                        content: 'This field is required.',
                        modifiers: 'form-error--not-filled',
                    }, {
                        content: 'Entered email does not match the required pattern.',
                        modifiers: 'form-error--not-valid',
                    }]
                ) }}

                {{ form_group_inputs.email(
                    'email',
                    'Enter an email...',
                    'Email',
                    [{
                        content: 'Entered email does not match the required pattern.',
                        modifiers: 'form-error--not-valid',
                    }]
                ) }}

                {{ form_group_inputs.requiredPhone(
                    'phone',
                    'Enter a 9 digit phone...',
                    'Phone', [{
                        content: 'This field is required.',
                        modifiers: 'form-error--not-filled',
                    }, {
                        content: 'Entered phone does not match the required pattern.',
                        modifiers: 'form-error--not-valid',
                    }]
                ) }}

                {{ form_group_inputs.phone(
                    'phone',
                    'Enter a 9 digit phone...',
                    'Phone',
                    [{
                        content: 'Entered phone does not match the required pattern.',
                        modifiers: 'form-error--not-valid',
                    }]
                ) }}

                <div style="position: relative; z-index: 100">
                    {{ form_group_selects.required(
                        'genre',
                        'Type to filter...',
                        'Genre', [{
                            value: 0,
                            label: 'Male'
                        }, {
                            value: 1,
                            label: 'Female'
                        }], [{
                            content: 'This field is required.',
                            modifiers: 'form-error--not-filled',
                        }, {
                            content: 'The selection option is not valid.',
                            modifiers: 'form-error--not-valid',
                        }]
                    ) }}
                </div>

                <div style="position: relative; z-index: 90">
                    {{ form_group_selects.requiredAndNot(
                        'genre',
                        'Type to filter...',
                        'Genre (default value not valid)',
                        '--',
                        [{
                            value: 0,
                            label: 'Male'
                        }, {
                            value: 1,
                            label: 'Female'
                        }], [{
                            content: 'This field is required.',
                            modifiers: 'form-error--not-filled',
                        }, {
                            content: 'The selection option is not valid.',
                            modifiers: 'form-error--not-valid',
                        }]
                    ) }}
                </div>

                <div style="position: relative; z-index: 80">
                    {{ form_group_textareas.required(
                        'about',
                        'Tell us about you...',
                        'About you',
                        [{
                            content: 'This field is required.',
                            modifiers: 'form-error--not-filled',
                        }]
                    ) }}
                </div>

                <div style="position: relative; z-index: 70">
                    {{ form_group_textareas.requiredWithPattern(
                        'palindrome',
                        'Type any 2-5 letter palindrome...',
                        '2-5 letter palindrome',
                        '\\b(\\w)?(\\w)\\w?\\2\\1',
                        [{
                            content: 'This field is required.',
                            modifiers: 'form-error--not-filled',
                        }, {
                            content: 'There is no any 2-5 letter palindrome.',
                            modifiers: 'form-error--not-valid',
                        }]
                    ) }}
                </div>

                <input type="submit" value="submit"/>
            </form>
        </section>
    </main>
</body>
</html>
